/* for the text next to logo on the top */
.head{
    padding-top: 40px;
    float: left;
    font-size: 60px;
}
/* for headings for all page execpt first page*/
.heading{
    font-weight: bold;
    text-align: center;
    font-size: 50pt;
}
/* for paragraphs on first page */
.p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

/* for first page heading*/
.heading1{   
    
    padding-top: 30px;
    font-size: 60;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* List with all navbar links*/
.navbar ul{
    list-style-type: none;
    padding: 10px;
    overflow:hidden;
    font-family: sans-serif;

} 
/* anchors for the navbar*/
.navbar a{
    font-weight: bolder;
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding: 5px;
    display: block;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 137;

}
/* when hover on navbar*/
.navbar :hover{
    background-color: rgb(149, 149, 149);
}
/* navbar links*/
.navbar li{
    float: left;
    font-size: 25px;

}
/* guide for the navbar*/
.navbarguide{
    color: rgb(0, 14, 210);
}
/* the navbar*/
.navbar{
    background-color: black;
}
/* the following are css for the images most cropped differently*/
.imagetype1{
    width: 30%;
    border: 6px solid;
}

.image1{
    width: 34%;
    border: 6px solid;
}

.image2{
    width: 30.5%;
    border: 6px solid;
}


.image3{
    width: 31%;
    border: 6px solid;
}

/* for the carousel images*/


/* for information table*/
.footer1{
    margin-left: 7%;
    width: 70%;
    padding-left: 10%;
    display: grid;
    border: 10px solid;
    grid-template-columns: 200px 200px 200px;
    text-align: center;
    font-size: medium;
    margin-top: 100px;
    font-weight: bolder;
}

.carousel-item{
    height: 700;
    border: 6px solid;
    margin-left: 5%;
    width: 90%;
    background-color: blue;
}
  

.img-with-text {
display: flex;
justify-content: space-around;
}

.text-with-image {
    display: flex;
    justify-content: space-around;
}

.container1{
    border: 6px solid;
}